:root{
    --bg-color: rgb(7, 8, 26);
    --text-color: #FFF;
    --menu-bg-color: #FFF;
    --orange: rgb(238, 128, 26);
    --light-orange: rgb(235, 158, 85);
    --gray: rgb(163, 163, 163);
    --light-gray: rgb(179, 179, 179);
    --white: #FFF;
}
*{
    box-sizing: border-box;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
body{
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
}
header{
    text-align: center;
    color: var(--text-color);
    font-size: 40px;
    margin: 40px 0 40px 0;
}
#outer{
    transition: all 0.5s;
    width: 800px;
    margin: auto;
}
.disappearing{
    opacity: 0;
    visibility: hidden;
}
.hidden{
    display: none;
}
/* Menu */
#menu{
    margin: auto;
    width: 500px;
    background-color: var(--menu-bg-color);
    border-radius: 30px;
    padding: 30px;
}
#menu :first-child{
    margin-block-start: 0;
}
.menu-label{
    font-size: 20px;
    margin-block-start: 0.8em;
    margin-block-end: 0.8em;
}
.menu-btns-wrap{
    display: flex;
    gap: 10px;
}
.menu-btn, #menu-start{
    border: none;
    border-radius: 30px;
    height: 40px;
    color: var(--text-color);
    font-family: 'Varela Round', sans-serif;
    cursor: pointer;
}
.menu-btn{
    flex: 1;
    background-color: var(--gray);
    font-size: 15px;
}
.menu-btn:hover{
    background-color: var(--light-gray);
}
#menu-start{
    background-color: var(--orange);
    width: 100%;
    margin-top: 20px;
    font-size: 18px;
}
#menu-start:hover{
    background-color: var(--light-orange);
}
.clicked:hover{
    background-color: var(--light-orange);
}

/* Game */
#game{
    margin: auto;
}
/* Grid */
#grid{
    margin: auto;
}
.row{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}
.card{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--white);
}

/* Scores */
#scores{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}
.score-triangle{
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 8px solid var(--orange);
    margin: auto;
    visibility: hidden;
}
.score-inner{
    display: flex;
    background-color: var(--white);
    border-radius: 5px;
    padding: 10px;
    justify-content: space-between;
    width: 120px;
}
.score-name{
    font-weight: bold;
}
.score-active .score-triangle{
    visibility: visible;
}
.score-active .score-inner{
    background-color: var(--orange);
}