:root{
    --bg-color: rgb(7, 8, 26);
    --text-color: #FFF;
    --menu-bg-color: #FFF;
    --orange: rgb(238, 128, 26);
    --light-orange: rgb(235, 158, 85);
    --gray: rgb(163, 163, 163);
    --light-gray: rgb(179, 179, 179);
    --white: #FFF;
    --card-active: rgb(238, 128, 26);
    --card-revealed: rgb(187, 187, 187); 
    --card-hidden: #FFF;
}
*{
    box-sizing: border-box;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
body{
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
}
header{
    text-align: center;
    color: var(--text-color);
    font-size: 40px;
    margin: 40px 0 40px 0;
}
#outer{
    width: 800px;
    margin: auto;
}
@keyframes outer-fade-in-out {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.disappearing{
    /*opacity: 0;
    visibility: hidden;*/
    animation: outer-fade-in-out 0.5s;
}
.hidden{
    display: none;
}
/* Menu */
#menu{
    margin: auto;
    width: 500px;
    background-color: var(--menu-bg-color);
    border-radius: 30px;
    padding: 30px;
}
#menu :first-child{
    margin-block-start: 0;
}
.menu-label{
    font-size: 20px;
    margin-block-start: 0.8em;
    margin-block-end: 0.8em;
}
.menu-btns-wrap{
    display: flex;
    gap: 10px;
}
.menu-btn, #menu-start{
    border: none;
    border-radius: 30px;
    height: 40px;
    color: var(--text-color);
    font-family: 'Varela Round', sans-serif;
    cursor: pointer;
}
.menu-btn{
    flex: 1;
    background-color: var(--gray);
    font-size: 15px;
}
.menu-btn:hover{
    background-color: var(--light-gray);
}
#menu-start{
    background-color: var(--orange);
    width: 100%;
    margin-top: 20px;
    font-size: 18px;
}
#menu-start:hover{
    background-color: var(--light-orange);
}
.clicked:hover{
    background-color: var(--light-orange);
}

/* Game */
#game{
    margin: auto;
}
/* Grid */
#grid{
    margin: auto;
}
.row{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}
/* Cards */
.card{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.card span{
    color: var(--text-color);
}
.card-hidden{
    background-color: var(--card-hidden);
    /*animation: active-to-hidden 0.5s linear;*/
}
.card-hidden span{
    visibility: hidden;
    /*animation: span-active-to-hidden 0.5s linear;*/
}

.card-active{
    background-color: var(--card-active);
}
.card-active span{
    visibility: visible;
}
.card-revealed{
    background-color: var(--card-revealed);
    animation: active-to-revealed 0.5s linear;
}
.card-revealed span{
    visibility: visible;
}
.card-active-to-hidden{
    animation: active-to-hidden 0.5s linear;
    background-color: var(--card-hidden);
}
.card-active-to-hidden span{
    animation: span-active-to-hidden 0.5s linear;
    visibility: hidden;
}
.card-hidden-to-active{
    animation: hidden-to-active 0.5s linear;
    background-color: var(--card-active);
}
.card-hidden-to-active span{
    animation: span-hidden-to-active 0.5s linear;
    visibility: visible;
}
@keyframes hidden-to-active {
    0%{
        background-color: var(--card-hidden);
    }
    49% {
        transform: scaleX(0);
        background-color: var(--card-hidden);
    }
    50%{
        background-color: var(--card-active);
    }
    51%{
        transform: scaleX(0);
        background-color: var(--card-active);
    }
    100% {
        transform: scaleX(1);
        background-color: var(--card-active);
    }
}

@keyframes revealed-to-active {
    100%{
        background-color: var(--card-revealed);
    }
}

@keyframes active-to-hidden {
    0%{
        background-color: var(--card-active);
    }
    49% {
        transform: scaleX(0);
        background-color: var(--card-active);
    }
    50%{
        background-color: var(--card-hidden);
    }
    51%{
        transform: scaleX(0);
        background-color: var(--card-hidden);
    }
    100% {
        transform: scaleX(1);
        background-color: var(--card-hidden);
    }
}
@keyframes span-hidden-to-active {
    0%{
        visibility: hidden;
    }
    49%{
        visibility: hidden;
    }
    50%{
        visibility: visible;
    }
}
@keyframes span-active-to-hidden {
    0%{
        visibility: visible;
    }
    49%{
        visibility: visible;
    }
    50%{
        visibility: hidden;
    }
}
/* Scores */
#scores{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}
#scores-single{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.score-triangle{
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 8px solid var(--orange);
    margin: auto;
    visibility: hidden;
}
.score-inner{
    display: flex;
    background-color: var(--white);
    border-radius: 5px;
    padding: 10px;
    justify-content: space-between;
    width: 120px;
}
.score-name{
    font-weight: bold;
}
.score-active .score-triangle{
    visibility: visible;
}
.score-active .score-inner{
    background-color: var(--orange);
}